/* 通告栏 */
.annunciate{
    width: 100%;
    /* height: 10000px; */
    padding: 14px 0;
    color: #222;
    font-size: 12px;
    text-align: center;
}

/* 轮播图 */
.banner-container{
    position: relative;
    width: 100%;
    height: 493px;
}

/* 轮播图按钮 */
.banner-button{
    position: absolute;
    z-index: 10;
    height: 100px;
    width: 100%;
    margin-top: -50px;
    top: 50%;
    display: flex;
    justify-content: space-between;
}
#left,#right{
    display: inline-block;
    width: 40px;
    height: 100%;
    color:#909593;
    font-size: 30px;
    background: #130e07;
    border: none;
}



/* 轮播图分页 */
.banner-pagination{
    position: absolute;
    bottom: -10%;
    width: 500px;
    height: 36px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    left: 50%;
    margin-left:-150px ;
}
.banner-pagination span{
    margin-left: 10px;
    color: #9fa19f;
    font-size: 15px;
}
.banner-pagination span.active{
    color: #000000;
    border-top:2px solid #000000;
}
/* 每一页 */
.banner-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
/* 每一张图 */
.banner-slide{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    transition: opacity 2s ; 
    opacity: 0;
}
.banner-slide.active-show{
    z-index: 2;
    opacity: 1;
}
.banner-slide.active-hide{
    z-index: 1;
    opacity: 0;
}
.banner-slide img{
    width: 100%;
    height: 100%;    
    display: block;
}
.classify{
    height: 1200px;
    /* background: red; */
    margin-top:130px; 
    position: relative;
}

/* 热卖单品 */
.classify-top h1{
    width: 200px;
    height: 30px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: -2%;
    left: 50%;
    /* margin-top:-15px ; */
    margin-left: -100px;
    font-size: 30px;
    font-weight: normal;
}
/* 热卖选项卡第一行 */
.hotSale-container{
    width: 1000px;
    margin: 80px auto 0;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.hotSale-container a{
    color: #333333;
    text-decoration: none;
}
.hotSale-container a:hover{
    text-decoration: underline;
}
.hotSale-container h3{
    margin-bottom:0;
    padding-bottom:0;
    width: 250px;
    /* height: 30px; */
    font-weight: normal;
}
/* 滑动箭头 */
.arrowSlider-container{
    margin: 20px auto 0;
    width: 1000px;
    height: 20px;
    border-top: 1px solid #cccccc;
    position: relative;
}
.arrow-slider{
    width: 39px;
    height: 21px;
    position: absolute;
    top: -1px;
    left: 11%;
    /* left: 36%; */
    /* left: 61%; */
    /* left: 86%; */
}
.arrow-slider img{
    width: 100%;
    height: 100%;
}
/* 热卖列表第一行 */
.hotSale-list{
    display: none;
    width: 1000px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}
.classify div:nth-child(4){
    display: block;
}

.hotSale-list>div{
    display: flex;
    justify-content: space-between;
}
.list-top{
    border-bottom: 1px dashed #cccccc;
    margin: 20px 0 20px 0; 
    padding-bottom:20px ;
}
.list-head{
    width: 250px;
    height: 300px;
}
.list-head:hover{
    border: 1px solid #cccccc;
}
.list-head dt a{
    display: inline-block;
    width: 165px;
    height: 165px;
}
.list-head img{
    width: 165px;
    height: 165px;
}
.list-head dd{
    color: #333333;
    font-size: 13px;
}
.list-head dd:nth-child(2){
    margin-bottom: 50px;
}
.list-head dd:nth-child(2) a{
    color: #333333;
    text-decoration: none;
}
/* 热卖列表第二行 */
.list-bottom{
    margin: 20px 0 20px 0; 
}
/* 查看更多详情 */
.see-more{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.see-more a{
    line-height: 48px;
    font-size: 16px;
    height: 48px;
    padding: 0 25px;
    border: 1px solid #000;
    text-align: center;
    display: block;
    width: 42%;
    background-color: #000;
    color: #FFF;
    box-sizing: border-box;
    margin:0 auto ;
    text-decoration: none;
}
.see-more a:hover{
    color: #000;
    background-color: #fff;
}

/* 新品推荐 */
.new-container{
    position: relative;
}
.classify-new{
    width: 1000px;
    margin: 0 auto 50px;
}
.classify-new h1{
    width: 200px;
    height: 30px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -100px;
    font-size: 30px;
    font-weight: normal;
}
.new-list{
    width: 1000px;
    display: flex;
    margin: 20px auto 0;
    text-align: center;
    border-bottom: 1px dashed #cccccc;
    padding-bottom:20px ; 
}
.new-list:nth-child(4){
    margin-bottom:100px; 
}

/* 街头先型 */
.street-box{
    width: 1000px;
    margin: 0 auto;
}
.street-box>img{
    width: 100%;
    height: 40px;
    display: block;
}
.street{
    width: 100%;
    /* height: 100px;
    background: red; */
    display: flex;
    justify-content: space-between;
}
.street>div{
    width: 48%;
    /* height: 300px; */
    /* background: red; */
    position: relative;
    margin: 20px 0 40px;
}
/* 贴膜 */
.film{
    width: 100%;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
}
.film:hover{
    opacity: .5;
}
.street>div>a{
    color: #000;
    text-decoration: none;
}
.street>div img{
    width: 100%;
}
.street>div>a:hover{
    color: #ccc;
    transition: 1s;
}
.street>div a h1{
    font-size: 23px;
    margin: 17px 0 17px 0;
}
.street>div a p{
    line-height: 20px;
    font-size: 12px;
}

/* 按钮 */
.buy-button{
    margin-top: 16px;
}
.buy-button a{
    line-height: 48px;
    font-size: 16px;
    height: 48px;
    padding: 0 3px 0 7px;
    border: 1px solid #000;
    text-align: center;
    display: inline-block;
    width: 38%;
    background: #000;
    color: #fff;
    text-decoration: none;
}
.buy-button a:hover{
    transition: 0;
    background: #fff;
    color: #000;
}


/* 潮流 */
.trend-box{
    width: 1000px;
    margin: 0 auto;
}
.trend-box>img{
    width: 100%;
    height: 40px;
    display: block;
}
.trend{
    width: 100%;
    /* height: 100px;
    background: red; */
    display: flex;
    justify-content: space-between;
}
.trend>div{
    width: 32%;
    position: relative;
    margin: 20px 0 80px;
}
/* 贴膜 */
.film-small{
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
}
.film-small:hover{
    opacity: .5;
}
.trend>div>a{
    color: #000;
    text-decoration: none;
}
.trend>div img{
    width: 100%;
}
.trend>div>a:hover{
    color: #ccc;
    transition: 1s;
}
.trend>div a h1{
    font-size: 23px;
    margin: 17px 0 17px 0;
    font-weight: normal;
}
.trend>div a p{
    line-height: 20px;
    font-size: 12px;
}

/* 按钮 */
.buyButton-small{
    margin-top: 16px;
}
.buyButton-small a{
    line-height: 42px;
    font-size: 18px;
    height: 42px;
    padding: 0;
    text-align: left;
    display: inline-block;
    width: 33%;
    color: #000;
    text-decoration: underline;
}
.buyButton-small a:hover{
    transition: 0;
    color: #ccc;
}

/* 关注匡威 */
.attention-box{
    background: #464646;
    width: 100%;
    height: 268px;
    color: #FFF;
    text-align: center;
    padding-bottom:80px ;
}
.attention-box h1{
    font-size: 30px;
    margin: 75px auto 35px;
    display: inline-block;
    font-weight: bold;
}
.attention-box p{
    font-size: 16px;
    line-height: 24px;
}
.friending{
    margin: 37px auto 0;
    width: 520px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.friending a{
    width: 75px;
    height: 75px;
}
.friending a:nth-child(1){
    background: url(../img/guanzhu01.jpg) no-repeat;
    background-size: 75px;
}
.friending a:nth-child(1):hover{
    background-position-y: -75px;
}
.friending a:nth-child(2){
    background: url(../img/guanzhu02.jpg) no-repeat;
    background-size: 75px;
}
.friending a:nth-child(2):hover{
    background-position-y: -75px;
}
.friending a:nth-child(3){
    background: url(../img/guanzhu03.jpg) no-repeat;
    background-size: 75px;
}
.friending a:nth-child(3):hover{
    background-position-y: -75px;
}
.friending a:nth-child(4){
    background: url(../img/guanzhu04.jpg) no-repeat;
    background-size: 75px;
}
.friending a:nth-child(4):hover{
    background-position-y: -75px;
}
.friending a:nth-child(5){
    background: url(../img/guanzhu05.jpg) no-repeat;
    background-size: 75px;
}
.friending a:nth-child(5):hover{
    background-position-y: -75px;
}