/* 通告栏 */
.annunciate{
    width: 100%;
    /* height: 10000px; */
    padding: 14px 0;
    color: #222;
    font-size: 12px;
    text-align: center;
}

/* 轮播图 */
.banner-container{
    position: relative;
    width: 100%;
    height: 493px;
}

/* 轮播图按钮 */
.banner-button{
    position: absolute;
    z-index: 10;
    height: 100px;
    width: 100%;
    margin-top: -50px;
    top: 50%;
    display: flex;
    justify-content: space-between;
}
#left,#right{
    display: inline-block;
    width: 40px;
    height: 100%;
    color:#909593;
    font-size: 30px;
    background: #130e07;
    border: none;
}



/* 轮播图分页 */
.banner-pagination{
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 36px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    display: flex;
    left: 50%;
    margin-left:-150px ;
}
.banner-pagination span{
    margin-left: 10px;
    color: #9fa19f;
    font-size: 15px;
}
.banner-pagination span.active{
    color: #000000;
    border-top:2px solid #000000;
}
/* 每一页 */
.banner-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
/* 每一张图 */
.banner-slide{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    transition: opacity 2s ; 
    opacity: 0;
}
.banner-slide.active-show{
    z-index: 2;
    opacity: 1;
}
.banner-slide.active-hide{
    z-index: 1;
    opacity: 0;
}
.banner-slide img{
    width: 100%;
    height: 100%;    
    display: block;
}
.classify{
    height: 1000px;
    /* background: red; */
    margin-top:130px; 
    position: relative;
}

/* 热卖单品 */
.classify-top h1{
    width: 200px;
    height: 30px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: -2%;
    left: 50%;
    /* margin-top:-15px ; */
    margin-left: -100px;
    font-size: 30px;
    font-weight: normal;
}
.haha{
    background: red;
    height: 1000px;
    margin-top:50px; 
}